<?xml version="1.0" encoding="UTF-8"?>
<suite name="Free XcelTech">

<!-- <listeners>


<listener class-name ="com.qa.crmReportlitener.ExtentReportLitener" />

</listeners> -->

   <test name="Xceltech">
      <classes>
      
      <class name="com.xcelTechCRM.qa.TestCase.TestHome"></class>
      
      <class name="com.xcelTechCRM.qa.TestCase.TestLogin"></class>
      <class name="com.xcelTechCRM.qa.TestCase.TestContacts"></class>
    
      
      </classes>


   </test>


</suite>